@page
@model RazorPizzeria.Pages.Checkout.ThankYouModel
@{
}
<div class="text-center">
    <h1 class="display-1 text-capitalize">Your Oder is being prepared</h1>
    <h2> Grazie, mi Amigo !</h2>

</div>
<div class="container col-5 align-content-lg-center ">
    <img src="~/images/Pizzas/Falling.png" class="w-100" asp-append-version=true/>
    <br />
    <a class="btn btn-primary w-100 h-50" asp-area="" asp-page="/Orders"> Check your Previous Orders </a>

</div>
