@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <div class="mainText">
    <h1 class="display-4">Welcome to Easy Pizza Service (EPS)</h1>
    <h2 class="mainSub"> BITE CAREFULLY!</h2>
        <h3>Click the image below for PizzaTime</h3>
    </div>
   
    <a asp-area="" asp-page="/Pizza">
        <img class="mainImage pizza-img2 w-50"  src="~/images/Logo.png" />
    </a>
    <br />
   

</div>
